.recipes {
  padding: 100px 80px 215px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  background-color: #0a2750;
  background-size: cover;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
}

.recipes__subtitle {
  padding: 24px 80px 80px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  top: 24px;
  left: 80px;
  bottom: 80px;
  max-width: 438px;
}

.recipes__cover {
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.recipes__videos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 100px;
  justify-content: center;
  z-index: 1;
  text-align: center;
  border: none;
  width: 100%;
  height: 100%;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  bottom: 215px;
  text-align: center;
}
